body {
    background-color: black;
}
#container { 
    margin-right: auto;
    margin-left: auto;
    width: 97.75%;
    background-color: black;
}
#waterContainer {
    float: left;
    padding: 0px;
}
#earthContainer {
    float: left; 
}

#fireContainer {
    float: left;
}
#airContainer {
    float: left;    
}
.homePageImage {
    width: 650px;
    height: 450px;
}